/* Body properties */
body {
  background-color: lightblue; /* choose any color */
  color: black;               /* choose any text color */
  font-family: Arial, sans-serif;
}

/* Nav properties */
nav {
  height: 600px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

/* Footer properties */
footer {
  text-align: center;
  margin-right: 200px;
}

/* Meme image properties */
#memeImage {
  margin-right: 200px;
  max-width: 300px;
}

/* Header properties */
header {
  text-align: center;
}